body{
    margin: 0;
    padding: 0;
}

#menu{
    width: 60%;
    height: 30px;
    float: right;
    border: 0px solid red;
    margin-top: 57px;
}

#menu ul{}

#menu ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
}

#menu ul li .enlace{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

#menu ul li .enlace:hover{
    background: #585858;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}



.principal{
    width: 80%;
    height: auto; overflow: hidden;
    border: 0px solid;
    margin: 10px auto;
}

.encabezado-lis{
    background: #585858;
    width: 100%;
    height: 150px;
}


.contenidos{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #01a9db;

}

.caja{
    width: 265px;
    height: 365px;
    transform-style: preserve-3d;
    transition: 2s;
    transform: perspective(500px) rotate(0deg);
    cursor: pointer;
    background: white;
}

.caja:hover{
    transform: perspective(500px) rotateY(180deg);
}

.caja::before{
    content: '';
    position: absolute;
    transform: rotateY(90deg) translateX(-25px);
    transform-origin: left;
    width: 50px;
    height: 100%;
    background: url(Imga/fotos/2.png);
    background-position: center;
    background-size: 100% 100%;

}

.caja .atras{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/14.jpg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(-25px) rotateY(180deg);

}

.caja .frente{
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/34.jpeg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(25px);
    
}

.caja2{
    width: 265px;
    height: 365px;
    transform-style: preserve-3d;
    transition: 2s;
    transform: perspective(500px) rotate(0deg);
    cursor: pointer;
    background: white;
}

.caja2:hover{
    transform: perspective(500px) rotateY(180deg);
}

.caja2::before{
    content: '';
    position: absolute;
    transform: rotateY(90deg) translateX(-25px);
    transform-origin: left;
    width: 50px;
    height: 100%;
    background: url(Imga/fotos/2.png);
    background-position: center;
    background-size: 100% 100%;

}

.caja2 .atras2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/14.jpg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(-25px) rotateY(180deg);

}

.caja2 .frente2{
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/35.jpeg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(25px);
    
}

.caja3{
    width: 265px;
    height: 365px;
    transform-style: preserve-3d;
    transition: 2s;
    transform: perspective(500px) rotate(0deg);
    cursor: pointer;
    background: white;
}

.caja3:hover{
    transform: perspective(500px) rotateY(180deg);
}

.caja3::before{
    content: '';
    position: absolute;
    transform: rotateY(90deg) translateX(-25px);
    transform-origin: left;
    width: 50px;
    height: 100%;
    background: url(Imga/fotos/2.png);
    background-position: center;
    background-size: 100% 100%;

}

.caja3 .atras3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/14.jpg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(-25px) rotateY(180deg);

}

.caja3 .frente3{
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/36.jpeg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(25px);
    
}

.caja4{
    width: 265px;
    height: 365px;
    transform-style: preserve-3d;
    transition: 2s;
    transform: perspective(500px) rotate(0deg);
    cursor: pointer;
    background: white;
}

.caja4:hover{
    transform: perspective(500px) rotateY(180deg);
}

.caja4::before{
    content: '';
    position: absolute;
    transform: rotateY(90deg) translateX(-25px);
    transform-origin: left;
    width: 50px;
    height: 100%;
    background: url(Imga/fotos/2.png);
    background-position: center;
    background-size: 100% 100%;

}

.caja4 .atras4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/14.jpg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(-25px) rotateY(180deg);

}

.caja4 .frente4{
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/37.jpeg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(25px);
    
}

.caja5{
    width: 265px;
    height: 365px;
    transform-style: preserve-3d;
    transition: 2s;
    transform: perspective(500px) rotate(0deg);
    cursor: pointer;
    background: white;
}

.caja5:hover{
    transform: perspective(500px) rotateY(180deg);
}

.caja5::before{
    content: '';
    position: absolute;
    transform: rotateY(90deg) translateX(-25px);
    transform-origin: left;
    width: 50px;
    height: 100%;
    background: url(Imga/fotos/2.png);
    background-position: center;
    background-size: 100% 100%;

}

.caja5 .atras5{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/14.jpg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(-25px) rotateY(180deg);

}

.caja5 .frente5{
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/38.jpeg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(25px);
    
}

.contenidos2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #01a9db;

}

.caja6{
    width: 265px;
    height: 365px;
    transform-style: preserve-3d;
    transition: 2s;
    transform: perspective(500px) rotate(0deg);
    cursor: pointer;
    background: white;
}

.caja6:hover{
    transform: perspective(500px) rotateY(180deg);
}

.caja6::before{
    content: '';
    position: absolute;
    transform: rotateY(90deg) translateX(-25px);
    transform-origin: left;
    width: 50px;
    height: 100%;
    background: url(Imga/fotos/2.png);
    background-position: center;
    background-size: 100% 100%;

}

.caja6 .atras6{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/14.jpg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(-25px) rotateY(180deg);

}

.caja6 .frente6{
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/39.jpeg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(25px);
    
}

.contenidos3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #01a9db;

}

.caja7{
    width: 265px;
    height: 365px;
    transform-style: preserve-3d;
    transition: 2s;
    transform: perspective(500px) rotate(0deg);
    cursor: pointer;
    background: white;
}

.caja7:hover{
    transform: perspective(500px) rotateY(180deg);
}

.caja7::before{
    content: '';
    position: absolute;
    transform: rotateY(90deg) translateX(-25px);
    transform-origin: left;
    width: 50px;
    height: 100%;
    background: url(Imga/fotos/2.png);
    background-position: center;
    background-size: 100% 100%;

}

.caja7 .atras7{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/nove.jpg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(-25px) rotateY(180deg);

}

.caja7 .frente7{
    width: 100%;
    height: 100%;
    background: url(Imga/fotos/catia\ cacique\ rebelde.jpg);
    background-position: center;
    background-size: 100% 100%;
    transform: translateZ(25px);
    
}