main{
    column-count: 1;
    column-gap: 3em;
    column-rule: 1px solid #bbb;
}

h1{
    column-span: all;
}


.post{
    width: 96%;
    height: auto; overflow: hidden;
    padding: 7px;
    background: #fdfdfd;
    border-left-style:solid ;
border-left-width: 5px;
border-left-color:#048981;
border-radius: 10px;
box-shadow: 0px 0px 15px #ccc;
margin-bottom: 25px;
}

.enlace-post{
    text-decoration: none;

}

.publicaciones a .titulo-post{
color: #6e6e6e;
font-size: 22px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.publicaciones a .titulo-post:hover{
    text-decoration: underline;
}

.publicaciones .parrafo-post{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    padding: 5px;
}

#contenedor{
    display: table;
}
#fila{
    display: table-row;
}
#columna1, #columna2, #columna3 {
    display: table-cell;
    color: #000;
    margin-top: 10px;
    border: 5px;
    font-weight: bold;
}

#columna1{
    background-color: cornsilk;
    
}

#columna2{
    background-color: #ff0;
}

#columna3{
    background-color: blanchedalmond;
}

content{
    width: 250px;
    height: 170px;

}